In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
os.listdir("../../data_to_predict/amazon")

['news.2008.en.shuffled',
 'news.2009.en.shuffled',
 'news.2007.en.shuffled',
 'news.2011.en.shuffled',
 '.ipynb_checkpoints',
 'europarl-v6.en',
 'news-commentary-v6.en',
 'news.2010.en.shuffled',
 'review_texts.txt']

In [5]:
os.listdir("../../data_predicted/")

['blogs_v2.log',
 'test_source',
 'blogs_v2',
 'ABCN.test.bea19.orig.log',
 'blogs_v1.log',
 'old_v2',
 'amazon_v1.log',
 'new_1bw_europarl-v6.log',
 'amazon_v1',
 'new_1bw_news_2008_v1.log',
 'new_1bw_news_2011_v1.check_correction',
 'new_1bw_news_2007_v1.check_correction',
 'blogs_v1',
 'train_target',
 'ABCN.test.bea19.orig',
 'blogs_v2.check_correction',
 'new_1bw_news_2011_v1.log',
 'old_data_predicted',
 'new_1bw_news_2010_v1',
 'new_1bw_news_2007_v1.log',
 'blogs_v1.check_correction',
 'amazon_v1.check_correction',
 'new_1bw_news_2010_v1.check_correction',
 'new_1bw_news_2010_v1.log',
 '.ipynb_checkpoints',
 'new_1bw_europarl-v6',
 'ABCN.test.bea19.orig.check_correction',
 'train_source',
 'new_1bw_europarl-v6.check_correction',
 'test_target',
 'new_1bw_news_2011_v1',
 'pred_conll14_ens_v1',
 'new_1bw_news_2008_v1.check_correction',
 'new_1bw_news_2007_v1',
 'new_1bw_news_2008_v1']

In [4]:
def read_lines(fn):
    if not os.path.exists(fn):
        return []
    with open(fn, 'r', encoding='utf-8') as f:
        text = f.read()
    lines = text.split("\n")
    if lines[-1] == '':
        return lines[:-1]
    else:
        return lines

def write_lines(fn, lines, mode='w'):
    text_to_write = "\n".join(lines)
    with open(fn, encoding='utf-8', mode=mode) as f:
        f.write(text_to_write)

In [33]:
path = "../../data_predicted/"
amazon_v1 = read_lines(path+"amazon_v1")
amazon_v1_cor = read_lines(path+"amazon_v1.check_correction")

In [34]:
path_src = "../../data_to_predict/amazon/"
src_amazon_v1 = read_lines(path_src+"review_texts.txt")

In [35]:
len(amazon_v1)

5194624

In [36]:
len(amazon_v1_cor)

5194624

In [37]:
src_amazon_v1 = src_amazon_v1[:len(amazon_v1)]

In [38]:
text_src = []
text_src.extend(src_amazon_v1)

text_tgt = []
text_tgt.extend(amazon_v1)

cor = []
cor.extend(amazon_v1_cor)

In [39]:
df = pd.DataFrame({"text_src": text_src, "text_tgt": text_tgt, "cor":cor})

In [40]:
df.head(10)

,text_src,text_tgt,cor
0,"This book has beautiful photos , good and unde...","This book has beautiful photos , good and unde...",0
1,Wire working and metalsmithing jewelry are cov...,Wire working and metalsmithing jewelry are cov...,0
2,Highly recommend this book .,I highly recommend this book .,1
3,Loved their approach in this book and that it ...,Loved their approach in this book and that it ...,0
4,Easy to use and inspiring me to use up my beac...,It is easy to use and inspires me to use up my...,1
5,"Always love the way Eva thinks , and there are...","I always love the way Eva thinks , and there a...",1
6,Easy to advanced for all .,Easy to advanced for all .,0
7,Fast shipping .,Fast shipping .,0
8,Nice patterns,Nice patterns,0
9,love the spirit of the book and some of the pr...,love the spirit of the book and some of the pr...,0

In [41]:
df['cor'] = df['cor'].astype(int)

In [42]:
cor_df = df[df['cor']==1]
cor_df.head()

,text_src,text_tgt,cor
2,Highly recommend this book .,I highly recommend this book .,1
4,Easy to use and inspiring me to use up my beac...,It is easy to use and inspires me to use up my...,1
5,"Always love the way Eva thinks , and there are...","I always love the way Eva thinks , and there a...",1
16,"Hi , have been making jewelry now for the last...","Hi , I have been making jewelry for the last 5...",1
22,I 've been fortunate to have taken classes wit...,I 've been fortunate to have taken classes wit...,1

In [43]:
len(cor_df)

1457901

In [44]:
cor_df['good'] = (cor_df['text_src'].str.len() <= 160).astype(int)

<ipython-input-44-c86232a09d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor_df['good'] = (cor_df['text_src'].str.len() <= 160).astype(int)

In [45]:
cor_df['good'].mean()

0.9408354888294884

In [46]:
good_df = cor_df[cor_df['good'] == 1]

In [47]:
len(good_df)

1371645

In [48]:
good_df['first_upper'] = good_df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

<ipython-input-48-ac0626d65af7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_df['first_upper'] = good_df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

In [49]:
best_df = good_df[good_df['first_upper'] == 1]

In [50]:
best_df

,text_src,text_tgt,cor,good,first_upper
2,Highly recommend this book .,I highly recommend this book .,1,1,True
4,Easy to use and inspiring me to use up my beac...,It is easy to use and inspires me to use up my...,1,1,True
5,"Always love the way Eva thinks , and there are...","I always love the way Eva thinks , and there a...",1,1,True
16,"Hi , have been making jewelry now for the last...","Hi , I have been making jewelry for the last 5...",1,1,True
22,I 've been fortunate to have taken classes wit...,I 've been fortunate to have taken classes wit...,1,1,True
...,...,...,...,...,...
5194600,"They are a little stiff , but since they 're n...","They are a little stiff , but since they 're n...",1,1,True
5194601,"Wish they came in more colors , but the colors...","I wish they came in more colors , but the colo...",1,1,True
5194611,A little larger than i expected but oh well .,"A little larger than I expected , but oh well .",1,1,True
5194612,Overall happy with the purchase and purchased ...,"Overall , I was happy with the purchase and pu...",1,1,True
5194623,Loved the fit exactly what I wanted,Loved the fit exactly what I wanted .,1,1,True

In [52]:
len(best_df)

1217843

In [21]:
#sample_cor = cor_df.sample(1200000)

In [27]:
#sample_cor.sample(10)

,text_src,text_tgt,cor,good
3291031,"Very cute , my granddaughter loves them & she ...",Very cute . My granddaughter loves them & she ...,1,1
4829918,what I can say more of 501 model .,What I can say more of 501 model ?,1,1
3435079,"love them , fits well , very plush and comfort...","love them , fit well , very plush and comforta...",1,1
2561778,Every time I have looked closely I find them a...,Every time I look closely I find them and reme...,1,1
2695123,Awesome quality and Style .,Awesome quality and style .,1,1
925630,"I bought it for my mother , and after 10 minut...","I bought them for my mother , and after 10 min...",1,1
3765920,"I like it but had to return , will order a big...",I liked it but had to return . will order a bi...,1,1
897000,I have replaced the shoes just so he could hav...,I have replaced the shoes just so he could hav...,1,1
4847305,My husband has lost a considerable amount of w...,My husband has lost a considerable amount of w...,1,0
2819810,Look exactly like the picture .,look exactly like the picture .,1,1

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
train, dev = train_test_split(best_df, test_size=0.02, random_state=4)

In [55]:
train_src = train.text_src.values 
train_tgt = train.text_tgt.values 
dev_src = dev.text_src.values 
dev_tgt = dev.text_tgt.values

In [56]:
path_save = "../../data_parallel/amazon/"

In [57]:
write_lines(path_save+"train_src", train_src, mode='w')
write_lines(path_save+"train_tgt", train_tgt, mode='w')
write_lines(path_save+"dev_src", dev_src, mode='w')
write_lines(path_save+"dev_tgt", dev_tgt, mode='w')