In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.listdir("../../data_to_predict/blogs/")

['blogs_texts.txt', 'blogs_texts_2.txt']

In [2]:
def read_lines(fn):
    if not os.path.exists(fn):
        return []
    with open(fn, 'r', encoding='utf-8') as f:
        text = f.read()
    lines = text.split("\n")
    if lines[-1] == '':
        return lines[:-1]
    else:
        return lines

def write_lines(fn, lines, mode='w'):
    text_to_write = "\n".join(lines)
    with open(fn, encoding='utf-8', mode=mode) as f:
        f.write(text_to_write)

In [4]:
path = "../../data_predicted/"
blogs_v1 = read_lines(path+"blogs_v1")
blogs_v2 = read_lines(path+"blogs_v2")

In [5]:
path_src = "../../data_to_predict/blogs/"
src_blogs_v1 = read_lines(path_src+"blogs_texts.txt")
src_blogs_v2 = read_lines(path_src+"blogs_texts_2.txt")

In [6]:
blogs_v1_cor = read_lines(path+"blogs_v1.check_correction")
blogs_v2_cor = read_lines(path+"blogs_v2.check_correction")

In [7]:
src_blogs_v2 = src_blogs_v2[:len(blogs_v2)]

In [8]:
text_src = []
text_src.extend(src_blogs_v1)
text_src.extend(src_blogs_v2)

text_tgt = []
text_tgt.extend(blogs_v1)
text_tgt.extend(blogs_v2)

cor = []
cor.extend(blogs_v1_cor)
cor.extend(blogs_v2_cor)

In [9]:
df = pd.DataFrame({"text_src": text_src, "text_tgt": text_tgt, "cor":cor})

In [10]:
df.head(10)

,text_src,text_tgt,cor
0,"steack knife , caro shark , con job , boot cut...","steack knife , caro shark , con job , boot cut...",0
1,"Ok one time I was playing socom and the guy , ...","Ok one time I was playing socom and the guy , ...",1
2,And like he got hit right in his chest(me thin...,And like he got hit right in his chest(me thin...,1
3,Hoping my nad dropped before I was killed I wa...,"Hoping my nad dropped before I was killed , I ...",1
4,And I won the round for my team .,And I won the round for my team .,0
5,THAT 'S F.U.B.A.R.(Fucked Up beyond All Recogn...,THAT 'S F.U.B.A.R.(Fucked Up beyond All Recogn...,0
6,"Do u ever wonder why where here , why do they ...","Do you ever wonder why they were here , why do...",1
7,does anyone ever pay attention in health accep...,Does anyone ever pay attention to health accep...,1
8,"Do n't deny it , you know it 's true .","Do n't deny it , you know it 's true .",0
9,"You know all that other crap like "" saving peo...","You know all that other crap like "" saving peo...",1

In [11]:
df['cor'] = df['cor'].astype(int)

In [12]:
cor_df = df[df['cor']==1]
cor_df.head()

,text_src,text_tgt,cor
1,"Ok one time I was playing socom and the guy , ...","Ok one time I was playing socom and the guy , ...",1
2,And like he got hit right in his chest(me thin...,And like he got hit right in his chest(me thin...,1
3,Hoping my nad dropped before I was killed I wa...,"Hoping my nad dropped before I was killed , I ...",1
6,"Do u ever wonder why where here , why do they ...","Do you ever wonder why they were here , why do...",1
7,does anyone ever pay attention in health accep...,Does anyone ever pay attention to health accep...,1

In [13]:
len(cor_df)

1704229

In [14]:
cor_df['good'] = (cor_df['text_src'].str.len() <= 160).astype(int)

<ipython-input-14-c86232a09d6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cor_df['good'] = (cor_df['text_src'].str.len() <= 160).astype(int)

In [15]:
#cor_df['good'].mean()

In [16]:
good_df = cor_df[cor_df['good'] == 1]

In [17]:
len(good_df)

1406932

In [18]:
good_df['first_upper'] = good_df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

<ipython-input-18-ac0626d65af7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_df['first_upper'] = good_df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

In [19]:
good_df['all_camel_case'] = good_df['text_tgt'].apply(lambda x: x == x.upper())

<ipython-input-19-fea59cac373b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_df['all_camel_case'] = good_df['text_tgt'].apply(lambda x: x == x.upper())

In [20]:
good_df['len_less_5'] = good_df['text_tgt'].str.len() <= 5

<ipython-input-20-d6ca0baf3450>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_df['len_less_5'] = good_df['text_tgt'].str.len() <= 5

In [21]:
#good_df['len_less_5'].mean()

In [22]:
#good_df[good_df['first_upper'] == 1].mean()

In [23]:
print()

In [24]:
best_df = good_df[good_df['first_upper'] == 1]

In [25]:
len(best_df)

1269399

In [26]:
best_df.head()

,text_src,text_tgt,cor,good,first_upper,all_camel_case,len_less_5
1,"Ok one time I was playing socom and the guy , ...","Ok one time I was playing socom and the guy , ...",1,1,True,False,False
2,And like he got hit right in his chest(me thin...,And like he got hit right in his chest(me thin...,1,1,True,False,False
6,"Do u ever wonder why where here , why do they ...","Do you ever wonder why they were here , why do...",1,1,True,False,False
7,does anyone ever pay attention in health accep...,Does anyone ever pay attention to health accep...,1,1,True,False,False
9,"You know all that other crap like "" saving peo...","You know all that other crap like "" saving peo...",1,1,True,False,False

In [3]:
from sklearn.model_selection import train_test_split

In [28]:
blogs_train, blogs_dev = train_test_split(best_df, test_size=0.02, random_state=4)

In [3]:
bw_train_src = read_lines('../../data_parallel/new_1bw/train_source')
bw_train_tgt = read_lines('../../data_parallel/new_1bw/train_target')
bw_test_src = read_lines('../../data_parallel/new_1bw/test_source')
bw_test_tgt = read_lines('../../data_parallel/new_1bw/test_target')

In [4]:
bw_src = []
bw_src.extend(bw_train_src)
bw_src.extend(bw_test_src)

bw_tgt = []
bw_tgt.extend(bw_train_tgt)
bw_tgt.extend(bw_test_tgt)

In [5]:
len(bw_src)

1196622

In [6]:
bw_df = pd.DataFrame({"text_src": bw_src, "text_tgt": bw_tgt})

In [7]:
good_df = bw_df

In [8]:
good_df['first_upper'] = good_df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

In [9]:
best_df = good_df[good_df['first_upper'] == 1]

In [10]:
bw_train, bw_dev = train_test_split(best_df, test_size=0.02, random_state=4)

In [11]:
train = bw_train #.append(blogs_train)

In [12]:
dev = bw_dev #.append(blogs_dev)

In [13]:
def get_train_dev_splits(source, target, test_size=0.02, random_state=4, stratify=True):
    ser_source = pd.Series(source)
    ser_target = pd.Series(target)
    source_train, source_dev, target_train, target_dev = [],[],[],[]
    if stratify:
        have_changes = ser_source != ser_target
        source_train, source_dev, target_train, target_dev = train_test_split(ser_source, ser_target,\
                                            test_size=test_size, random_state=random_state, stratify = have_changes)
    else:
        source_train, source_dev, target_train, target_dev = train_test_split(ser_source, ser_target,\
                                            test_size=test_size, random_state=random_state)
    
    return source_train.values, source_dev.values, target_train.values, target_dev.values

In [14]:
wl_src = read_lines("../../data_parallel/wi+locness/train_src")
wl_tgt = read_lines("../../data_parallel/wi+locness/train_tgt")

In [15]:
source_train_wl, source_dev_wl, target_train_wl, target_dev_wl = get_train_dev_splits(wl_src, wl_tgt)

In [16]:
train_src = train.text_src.values 
train_tgt = train.text_tgt.values 
dev_src = dev.text_src.values 
dev_tgt = dev.text_tgt.values

In [17]:
len(train_src)

1154481

In [18]:
train_src = list(train_src)
train_src.extend(source_train_wl)

In [19]:
len(train_src)

1188102

In [20]:
train_tgt = list(train_tgt)
train_tgt.extend(target_train_wl)

In [21]:
dev_src = list(dev_src)
dev_src.extend(source_dev_wl)

In [22]:
dev_tgt = list(dev_tgt)
dev_tgt.extend(target_dev_wl)

In [23]:
path_save = "../../data_parallel/1bw+wl/"

In [24]:
write_lines(path_save+"train_src", train_src, mode='w')
write_lines(path_save+"train_tgt", train_tgt, mode='w')
write_lines(path_save+"dev_src", dev_src, mode='w')
write_lines(path_save+"dev_tgt", dev_tgt, mode='w')

In [11]:
train_tgt = read_lines(path_save+"train_tgt")

In [12]:
df = pd.DataFrame({"text_tgt": train_tgt})

In [13]:
df['first_upper'] = df['text_tgt'].apply(lambda x: x[0] == x[0].upper())

In [15]:
df['first_upper'].astype(int).mean()

0.8968886054421769

In [16]:
df[df['first_upper']==False]

                                                  text_tgt  first_upper
20       csi northwestern : forensic chemistry searchin...        False
23       risks will always be a 50 - 50 situation and i...        False
36       and then somewhere in there one of the main do...        False
37       and even the times I have a map , it does no g...        False
59       and I m not talking about guys in aviator sung...        False
...                                                    ...          ...
1175947    but seriously .... that s about all I got peace        False
1175959                have been the last couple of days .        False
1175963  lol That s why I told Joe to stay away from Li...        False
1175964   modern technology what will they think up next ?        False
1175973  and I made plans with Sharlit and Becky before...        False

[121259 rows x 2 columns]